#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  cursor: pointer;
}

.results-col {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.results-col > div {
  background: grey;
  margin-bottom: 30px;
}

.results-col > div > img {
  width: 100%;
  display: block;
}

.results-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.pill-button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1;
  margin: 5px;
}

.search {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
}

.giphy-search {
  background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%)
}

.giphy-trending {
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

input.search {
  border: 0;
  padding: 0.5em;
  width: 65%;
  background: white;
}

button.search {
  border: 0;
  cursor: pointer;
  padding: 0.5em;
}
